$white:#fff;
$semi-white:#f1f1f1;
$black:#000;
$semi-black:#333;
$green_hero:#31cd7a;
$cyan_hero:#2cb9cb;
$color-footer:#2d314e;

$Big-btn-padding: 12px 15px;
$middle-btn-padding: 10px 12px;
$mini-btn-padding: 8px 10px;

$section-padding-desktop : 120px 30px 50px;
$section-padding-middle: 100px 25px 50px;